<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="../css/contacts.css">
  <link rel="icon" href="../../public/web_icon.png">
  <link rel="stylesheet" href="https://use.typekit.net/peo0evu.css">
  <title>Contacts</title>

</head>
<body>
  <header id="title"> 
    <a id="h2_title" href="../../index.html">三</a>
    <h2 id="h2_title">Conectividad Los Ángeles</h2>
  </header>
  <main id="main"> 
    <ul id="contacts">
      <li>
        <img class='expert' src="../../public/granjero 1.png" alt="">
        <div>
          <p class="parr">• Agricultor</p>
          <p class="parr2">+56964564693</p>
        </div>
      </li>
      <li>
        <img class='expert' src="../../public/granjero 2.png" alt="">
        <div>
          <p class="parr">• Agricultor</p>
          <p class="parr2">+56545464316</p>
        </div>
      </li>
      <li>
        <img class='expert' src="../../public/veterinario 1.png" alt="">
        <div>
          <p class="parr">• Veterinario</p>
          <p class="parr2">+56965334654</p>
        </div>       
      </li>
      <li>
        <img class='expert' src="../../public/veterinario 2.png" alt="">
        <div>
          <p class="parr">• Veterinario</p>
          <p class="parr2">+56957667754</p>
        </div>
      </li>
    </ul>
  </main>
</body>
</html>