:root {
    --main-bg-color:#0059B6;
    --secondary-bg-color:#007bff;
  }
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    margin: 0;
    background-color: var(--secondary-bg-color);
    color: white;
}
main {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
#title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 1.5rem;
    padding: 14px 0px 16px 0px;
    margin: 0;
    width: 100vw;  
    border-top: 5px solid #FFC500;  
}
#h2_title {
    height: 100%;
    padding: 0 12px 0 12px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 2000;
    letter-spacing: .25px;
    border-radius: .25rem;
}
#map {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    border: 1px solid #00FFAB;
}
#coordenadas {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    padding: 3px;
    margin: auto;
    width: 90%;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    margin-top: 6px;
}
#coor_title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    width: calc(100vw-10px);
    background-color: inherit;
}
#res{
    display: flex;
    flex-flow: column;
    padding: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    #coordenadas{
        width: 600px;
    }
    #res{
        padding: auto;
        width: 600px;
    }
  }