body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    
}
h2 {
    font-weight: 10;
}
#map {
    display: flex;
    justify-content: center;
    height: 70vh;
}

@media only screen and (min-width: 800px) {
    #map {
        width: 800px;
    }
  }